.idea
TFG.xcodeproj/project.xcworkspace/xcshareddata
TFG.xcodeproj/project.xcworkspace/xcuserdata
TFG.xcodeproj/xcuserdata/tovkal.xcuserdatad/xcdebugger
TFG.xcodeproj/xcuserdata/tovkal.xcuserdatad/xcschemes/TFG.xcscheme